name: Pre-Commit Checks
permissions: {} # No permissions by default on workflow level

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  workflow_dispatch: # run on request (no need for PR)

jobs:
  Code-Quality-Checks:
    runs-on: ubuntu-24.04
    steps:
      - name: CHECKOUT REPOSITORY
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      - name: Install dependencies
        run: |
          uv sync --locked --all-extras
      - name: Run pre-commit checks
        run: |
          uvx pre-commit run --all-files
  Unit-Tests:
    runs-on: ubuntu-24.04
    steps:
      - name: CHECKOUT REPOSITORY
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      - name: Install dependencies
        run: |
          uv sync --locked --extra tests
      - name: Run python unit tests
        run: |
          uv run pytest tests/unit --cov
