name: Build and upload to PyPI

on:
  workflow_dispatch: # run on request (no need for PR)
  release:
    types: [published]

permissions: {} # No permissions by default on workflow level

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: ".python-version"

      - name: Install pypa/build
        run: uv sync --locked

      - name: Build sdist
        run: uv build --sdist

      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: artifact-sdist
          path: dist/*.tar.gz

      - name: Build wheel
        run: uv build --wheel

      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: artifact-wheel
          path: dist/*.whl

  publish_package:
    name: Publish package
    needs: [build]
    environment: pypi
    runs-on: ubuntu-latest
    permissions:
      contents: write # required by svenstaro/upload-release-action
      id-token: write # required by trusted publisher
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8
        with:
          path: dist
          pattern: artifact-*
          merge-multiple: true

      # to determine where to publish the package distribution to PyPI or TestPyPI
      - name: Check tag
        id: check-tag
        env:
          GITHUB_REF: ${{ github.ref }}
        run: |
          if [[ "${GITHUB_REF}" =~ ^refs/tags/[0-9]+\.[0-9]+\.[0-9]+(\.[0-9]+)+(\.[0-9]+rc[0-9]+|rc[0-9]+)?$ ]]; then
            echo "match=${GITHUB_REF}" >> $GITHUB_OUTPUT
          else
            echo "match=" >> $GITHUB_OUTPUT
          fi

      - name: Upload package distributions to github
        if: ${{ steps.check-tag.outputs.match != '' }}
        uses: svenstaro/upload-release-action@b98a3b12e86552593f3e4e577ca8a62aa2f3f22b # 2.11.4
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

      - name: Publish package distributions to PyPI
        if: ${{ steps.check-tag.outputs.match != '' }}
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0

      - name: Publish package distributions to TestPyPI
        if: ${{ steps.check-tag.outputs.match == '' }}
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true
