name: test_precommit
permissions: {} # No permissions by default on workflow level
on:
  pull_request:
  merge_group:
    branches:
      - master
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  Python-Functional-Tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-24.04"
          - "windows-2022"
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    name: pr pre-commit test (${{ matrix.os }}, Python ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    steps:
      - name: CHECKOUT REPOSITORY
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          enable-cache: false
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv sync --locked --extra tests --extra-index-url https://download.pytorch.org/whl/cpu
      - name: Prepare test data
        run: |
          uv run python tests/accuracy/download_models.py -d data -j tests/precommit/public_scope.json -l
      - name: Run test
        run: |
          uv run pytest --data=./data tests/functional
  Zizmor-Scan-PR:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Run Zizmor scan
        uses: open-edge-platform/geti-ci/actions/zizmor@66652424b4ec87ff529dce5ae4a03f339e58a84b
        with:
          scan-scope: "changed"
          severity-level: "LOW"
          confidence-level: "LOW"
          fail-on-findings: true
  Bandit-Scan-PR:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Run Bandit scan
        uses: open-edge-platform/geti-ci/actions/bandit@66652424b4ec87ff529dce5ae4a03f339e58a84b
        with:
          scan-scope: "changed"
          severity-level: "LOW"
          confidence-level: "LOW"
          config_file: "./pyproject.toml"
          fail-on-findings: true

  Semgrep-Scan-PR:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write # Needed to upload the results in SARIF
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Run Semgrep scan
        uses: open-edge-platform/geti-ci/actions/semgrep@66652424b4ec87ff529dce5ae4a03f339e58a84b
        with:
          scan-scope: "changed"
          severity: "LOW"
          fail-on-findings: true
